[settings]
os=Linux
arch={{ "armv8" if platform.machine() == "aarch64" else platform.machine() }}
compiler=clang
compiler.version=16
compiler.libcxx=libc++
compiler.cppstd=20
build_type=Release

[conf]
tools.cmake.cmaketoolchain:generator=Ninja Multi-Config
tools.build:compiler_executables={'asm': 'clang', 'c': 'clang', 'cpp': 'clang++'}
